@font-face {
    font-family: "heading";
    src: url("heading.otf") format("opentype"); 
}

@font-face {
    font-family: "sub";
    src: url("sub.otf") format("opentype"); 
}

@font-face {
    font-family: "thin";
    src: url("thin.otf") format("opentype"); 
}

* {
    text-align: center;
    background-color: antiquewhite;
    color: #001e3d;
}

.flex-container {
    display: flex;
    border-style: solid;
    border-width: 5px;
    border-color: cadetblue;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.featured{
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    margin-top: 5px;
    margin-bottom: 5px;
}

.projectsItem {
    flex: 1;
    text-align: center;
    margin: 10px;
}

.navigation {
    font-family: thin;
    flex-wrap: wrap;
    margin-top: -5px;
    font-size: x-large;
    display: flex;
    justify-content: space-around;
    margin-left: 15%;
    margin-right: 15%;
}

.projects{
    display: flex;
    justify-content: space-around;
    font-family: sub;
    flex-wrap: wrap;
}

.flex-item {
    font-family: heading;
    font-size: larger;
    width: 100%;
    height: auto;
    border-width: 5px;
    border-color: cadetblue;
    flex-direction: column;
}

#header {
    font-family: heading;
    font-size: xx-large;
}


#logo {
    margin-top: 10px;
    margin-bottom: -10px;
    width: 30px;
    height: 60px;
}

.projectsItem span {
    display: block;
}

.projectsItem img {
    width: 100%; /* Set image width to 100% */
    height: auto; /* Let the height adjust automatically */
    object-fit: cover; /* Ensure the image fills the specified dimensions */
    border: 1px solid #ccc; /* Optional: add border for better visualization */
}

.SkillsAuto {
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;  
}

.skills {
    margin-top: 0px;
    margin-bottom: 3px;
    font-family: sub;
}

.biography {
    margin-top: 0px;
    margin-bottom: 3px;
    font-family: thin;
}

.sub {
    min-width: 50%;
}

.footer {
    display: flex;
    justify-content: space-around;
}

.contact {
    margin-top: 0px;
    font-family: sub;
    font-size: medium;
}

.profile {
    margin-top: 10px;
    max-width: 30%;
}

.top{
    margin-bottom: 5px;
}