/* Eljohn Y. Evangelista
CMSC 100 - UV2L
Exercise 2 (.css file) */

/* font upload */
@font-face {
    font-family: "heading";
    src: url("fonts/heading.otf") format("opentype"); 
}

@font-face {
    font-family: "sub";
    src: url("fonts/sub.otf") format("opentype"); 
}

@font-face {
    font-family: "thin";
    src: url("fonts/thin.otf") format("opentype"); 
}

/* general selector */
* {
    text-align: center;
    background-color: antiquewhite;
    color: #001e3d;
}

/* main flexbox for all the section */
.flex-container {
    display: flex;
    border-style: solid;
    border-width: 5px;
    border-color: #001e3d;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

/* featured image */
.featured{
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

/* individual projects */
.projectsItem {
    flex: 1;
    text-align: center;
    margin: 10px;
}

/* navigation buttons on the header */
.navigation {
    font-family: thin;
    flex-wrap: wrap;
    margin-top: -5px;
    font-size: x-large;
    display: flex;
    justify-content: space-around;
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 5px;
}

/* projects section */
.projects{
    display: flex;
    justify-content: space-around;
    font-family: sub;
    font-size: large;
    flex-wrap: wrap;
}

/* individual sections flexbox */
.flex-item {
    font-family: heading;
    font-size: larger;
    width: 100%;
    height: auto;
    border-style: solid;
    border-width: 5px;
    border-color: #001e3d;
}

/* header section */
#header {
    font-family: heading;
    font-size: 50px;
}

/* top logo */
#logo {
    margin-top: 10px;
    margin-bottom: -10px;
    width: 30px;
    height: 60px;
}

/* project labels */
.projectsItem span {
    display: block;
}

/* projects images */
.projectsItem img {
    width: 100%; 
    height: auto; 
    object-fit: cover; 
    border: 1px solid #ccc; 
}

/* about section */
.SkillsAuto {
    display: flex;
    justify-content: space-around;
    align-items: center;  
}

/* skills subsection */
.skills {
    margin-top: 0px;
    margin-bottom: 3px;
    font-family: sub;
}

/* autobigraphy subsection */
.biography {
    margin-top: 0px;
    margin-bottom: 3px;
    font-family: thin;
}

/* division of the about section into half */
.sub {
    min-width: 50%;
}

/* bottom section */
.footer {
    display: flex;
    justify-content: space-around;
}

/* contacts subsection in the footer */
.contact {
    margin-top: 0px;
    font-family: sub;
    font-size: medium;
}

/* profile picture subsection */
.profile {
    margin-top: 10px;
    max-width: 30%;
}

/* back to top button */
.top{
    margin-bottom: 5px;
}